<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReportedPhoneNumber</key>
	<string>19292044370</string>
	<key>ReportedSubscriberIdentity</key>
	<string>8911111111111111111</string>
	<key>activation_gemini_support</key>
	<string>1:kFalse</string>
	<key>imei</key>
	<string>359401087203755</string>
	<key>imei_svn</key>
	<string>26</string>
	<key>imei_svns</key>
	<array>
		<dict>
			<key>first</key>
			<string>1:kOne</string>
			<key>second</key>
			<string>26</string>
		</dict>
	</array>
	<key>imeis</key>
	<array>
		<dict>
			<key>first</key>
			<string>1:kOne</string>
			<key>second</key>
			<string>355346081727461</string>
		</dict>
	</array>
	<key>kAllowsMultiplePDNConnectionsToSameAPNConfiguration</key>
	<dict>
		<key>AllowsMultiplePDNConnectionsToSameAPN</key>
		<false/>
	</dict>
	<key>kCarrierSpaceAllLastRefreshTimestamp</key>
	<date>2020-03-19T13:08:41Z</date>
	<key>kCarrierSpaceAppsLastRefreshTimestamp</key>
	<date>2020-03-19T13:08:41Z</date>
	<key>kCarrierSpaceLastRefreshStatusKey</key>
	<integer>6000</integer>
	<key>kCarrierSpacePlansLastRefreshTimestamp</key>
	<date>2020-03-19T13:08:41Z</date>
	<key>kCarrierSpaceUsageLastRefreshTimestamp</key>
	<date>2020-03-19T13:08:41Z</date>
	<key>kEnableIMSISwitchConfiguration</key>
	<dict>
		<key>EnableIMSISwitch</key>
		<false/>
	</dict>
	<key>kGRIFileConfiguration</key>
	<dict>
		<key>kGRIBundleDir</key>
		<string>/System/Library/Carrier Bundles/iPhone/Default.bundle</string>
		<key>kGRIFileBundleID</key>
		<string>com.apple.Default</string>
		<key>kGRIFileBundleVersion</key>
		<string>40.0</string>
		<key>kGRIFileName</key>
		<string>global_setting_B.gri</string>
		<key>kGRIFileVersion</key>
		<string>6.0.3</string>
	</dict>
	<key>kNextCarrierBundleUpdateCheck</key>
	<date>2020-03-30T13:45:30Z</date>
	<key>kOperatorRoamingInfo_3GPP_CurrentOperatorBundleId</key>
	<string>com.apple.TMobile_US</string>
	<key>kOperatorRoamingInfo_3GPP_NetworkMnc</key>
	<string>03</string>
	<key>kOperatorRoamingInfo_3GPP_RAT</key>
	<integer>2</integer>
	<key>kOperatorRoamingInfo_3GPP_Roaming</key>
	<true/>
	<key>kOperatorRoamingInfo_Subscriber_CarrierBundleID</key>
	<string>com.apple.TMobile_US</string>
	<key>kOperatorRoamingInfo_Subscriber_Mcc</key>
	<string>310</string>
	<key>kOperatorRoamingInfo_Subscriber_Mnc</key>
	<string>310</string>
	<key>kPRIFileConfiguration</key>
	<dict>
		<key>kPRIBundleDir</key>
		<string>/System/Library/Carrier Bundles/iPhone/TMobile_US.bundle</string>
		<key>kPRIFileBundleID</key>
		<string>com.apple.TMobile_US</string>
		<key>kPRIFileBundleVersion</key>
		<string>40.0</string>
		<key>kPRIFileName</key>
		<string>overrides_D201_D211_D221.der.pri</string>
		<key>kPRIFileVersion</key>
		<string>0.0.12</string>
	</dict>
	<key>kPostponementTicket</key>
	<dict>
		<key>ActivationState</key>
		<string>Activated</string>
		<key>ActivationTicket</key>
		<string>MIICqgIBATALBgkqhkiG9w0BAQsxcJ8/DJNBEGkRAKgy+ThJpZ9ABGAAAACfSxRQazfUgri+FgdLoZEJXjQ4izEcmJ+HbQc1kmEGWUhRn5c9DAAAAADu7u7u7u7u75+XPgQAAAAAn5c/BAEAAACfl0AEAQAAAJ+XQQQBAAAAn5dMBAAAAAAEggEASkOTRpO7zGrv7zlKf4hwhiIHOj4WCh2WP3zNVyycLBVJKaLlMTYLeCV7XQuNQgSzL4ApEiCV/Zv4g8tAQCL82270aGhjB4FZ0TmRL5Y65Jx1ZZdKnzEQnq5WUINHC3yW3nCsznIfvhkjWlVWnwH0B0o5CbMG8CiKX0ilgU+SIcKaPg7ELn6NBY6Wal6GOBNSgzPTdqxkV4nJR3fMkCg9ZkUd/gZ9nlQgZKtPxPJ+xTsWO0TPGTzUPOtCnRzBiwrmcXJdpNTfp1WbeX4OX7VF1Dcfl+kpYB2iH4okLZO/lz/7kYO8SmIGwVpBA7JtkdB4bsdV8jgNB8xzYGUIveaba6OCASAwCwYJKoZIhvcNAQEBA4IBDwAwggEKAoIBAQCskU9F2dz8TtWBq2D8AdsqcYS51H66DxZmCHEw6U9p3d8vjaEcBdF5VFwETmWJBcTJo/SiPLezdAmG40RfAsxg4sIok0CPhKsTp1mon0JBqai68SdmN0L+AsEbmNK4AjjMX6GM5t7w5mdXpgZyigRtGQDnV2P7HnOZj69PS9r/D4Q50CJNaLrGJZ1UVBNcKkJNTMD2pxrHnxdSLTj51xVITBU71Tdl7KghSskP8WagOONk6J0IcOCwIaWct9A/+Aso4yk5/PDh1YUhbUiIO+z1TL5TdiHLITgc8NXHagB/yiOEEzOx2pcZVXXjwfSZlKRHj66VlWVHgT+bEHZl0/sdAgMBAAE=</string>
		<key>ActivityURL</key>
		<string>https://albert.apple.com/deviceservices/activity</string>
		<key>PhoneNumberNotificationURL</key>
		<string>https://albert.apple.com/deviceservices/phoneHome</string>
	</dict>
	<key>kPostponementTicketLock</key>
	<false/>
	<key>meid</key>
	<string></string>
	<key>subscriber_account_ids</key>
	<array>
		<dict>
			<key>first</key>
			<string>1:kOne</string>
			<key>second</key>
			<string>8911111111111111111</string>
		</dict>
	</array>
</dict>
</plist>
